.prod{

    width: 300px;
    margin: 30px;

}

.prod img{

width: 250px;
height: 250px;
padding: 30px;
margin-left: 25px;
}

button{
 position: relative;
 color: green;
}

.prod p{

    text-align: center;

}

h1{
    font-size: 20px;
    text-align: center;

}

.inputType.placeholder{

    text-align: center;

}