body{
	
	background-color: #f4f7f7;
}

form{
	
	width: 500px;
	margin: 30px auto;
}

form input{
	
	margin-top: 10px;
}


.fundoNavBar{
    background-color: #009ba8;
}

.nav-link,
.nav-link:hover{
	
	color: #ffffff;
	
}

.navbar-brand{
	
	color: #ffffff;
}


.noticiashoje{
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
color: #00666f;

}

.card1{
	
	width: 500px;
	margin: 20px auto;
	text-align: center;
	background-color: #d1e6eb;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

div .card1:hover{
	
	box-shadow: 5px 10px 18px #888888;
}


.card2{
	
	width: 500px;
	margin: 20px auto;
	text-align: center;
	background-color: #d1e6eb;
	
}

.titulo{
	
	color: #009ba8;
	
}

.pesquisa{
	
	text-align: center;
	margin-top: 30px;
}

.btn{
	
	background-color: #00474d;
	border-color: #00747C;
	color: #ffffff;
	
}

.inputType.placeholder{
	
	background-color: #f4f7f7;
	
}

.cadastre{
	
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #00666f;
	
}

.cadastroAlt{
	
	text-align: center;
	margin-top: 30px;
	
	
}




