<app-produto></app-produto>
<!-- Utilizando expressões -->
<!-- <h1>O valor da variável texto é: {{texto}}</h1>
<h1>a soma de 5+5 é: {{5+5}}</h1> -->

<!-- Diretivas (receber e enviar dados entre HTML para o TS, executar funções (de mouse, teclado, etc)) -->
<!-- () -> quando o HTML precisa enviar/executar algo do TS --> 
<!-- [] -> quando o TS precisa enviar/executar algo do HTML -->
<!-- [()] -> quando há comunicação entre HTML e TS -->

<!-- Evento de clique -->
<!-- <button (click)="mensagem()">Clique aqui!</button>

<hr> -->

<!-- Diretiva ngIf -->
<!-- <div class="quadrado" *ngIf="exibir" ></div>
<button (click)="exibirOcultar()">Exibir ou ocultar o quadrado</button>

<hr>

<ul>
  <li *ngFor="let n of nomes; index as posicao">{{posicao}} - {{n}}</li>
</ul>

<table>
  <tr *ngFor="let c of clientes; index as i">
    <td>{{i+1}}</td>
    <td>{{c.nome}}</td>
    <td>{{c.idade}}</td>
  </tr>
</table> -->
















